$n: 100;
$primary: #000000;
$secondary: #ffffff;
$easeOutSine: cubic-bezier(.39,.57,.56, 1);

@keyframes increaseSize {
  0%, 100% {font-size: 32px;}
  50% {font-size: 46px;}
}

#loadingComponent{
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
}

#loadingContainer{
  height:50px;
  div {
    @for $i from 1 through $n {
      &:nth-child(#{$i}) {
        animation: increaseSize 1.5s #{$i*0.18}s $easeOutSine forwards;
        animation-iteration-count: infinite;
      }
    }
  }
}

.loadingLetter{
  color: $secondary;
  text-shadow: 4px 0 0 $primary, -3px 0 0 $primary, 0 3px 0 $primary, 0 -3px 0 $primary, 3px 3px $primary, -3px -3px 0 $primary, 3px -3px 0 $primary, -3px 3px 0 $primary;
  transform: rotate(359deg);
  font-family: fantasy;
  white-space: nowrap;
  display: inline-block;
}

