<div class="v01">
  <div class="row container">
    <div class="col-4" *ngFor="let i of getNumber()">
      <!--Make this a component //-->
      <div class="col-12 cardBackground">
        <div class="elementContainer skv">
          <img class="elementContent">
        </div>
        <div class="imageContainer skv">
          <img class="imageContent">
        </div>

        <div class="textContainer skv">
          <div class="textContent"><span>Lvl 6</span></div>
        </div>

        <div class="selectionContainer skv">

        </div>
      </div>
    </div>
  </div>
</div>
